body {
  background-color: #fcfcfc;
}

h1 {
  position: relative;
  text-align: center;
  font-family: "PT Sans";
  font-size: 52px;
  line-height: 82.82px;
  align-items: center;
  font-style: normal;
  font-variant: normal;
  top: -36px;
  font-weight: normal;

  user-select: none;
}

.header-line {
  position: absolute;

  width: 99.9%;
  height: 0px;
  left: 0px;
  top: 120px;

  border-top: 2px solid #65daff;
  box-shadow: 0px 2px 4px #cef3ff;
}

#input-area {
  position: absolute;
  width: 37%;
  height: 400px;
  left: 10%;
  top: 80px;

  background: #ffffff;
  border: 2px solid #65daff;
  box-shadow: 0px 2px 4px rgba(255, 193, 101, 0.25);
  border-radius: 20px 0px 0px 20px;
}

#input-text {
  width: 640px;
  height: 325px;
  resize: none;
  outline: none;
  border: none;
}

#input-text::-webkit-scrollbar {
  display: none;
}

#summarise {
  position: absolute;
  width: 181px;
  height: 40px;
  left: 490px;
  top: 390px;

  background: #ffffff;
  border: 2px solid #65daff;
  box-shadow: 0px 2px 4px #cef3ff;
  border-radius: 10px;

  cursor: pointer;

  font-family: "PT Sans";
  font-weight: bold;
  font-size: 20px;

  user-select: none;
}

#output-area {
  position: absolute;
  width: 37%;
  height: 400px;
  right: 10%;
  top: 80px;

  background: #ffffff;
  border: 2px solid #65daff;
  box-shadow: 0px 2px 4px rgba(255, 193, 101, 0.25);
  border-radius: 0px 20px 20px 0px;
}

#output-text {
  width: 640px;
  height: 325px;

  resize: none;
  outline: none;
  border: none;
}

#input-area,
#output-area {
  padding: 25px;
}

#input-text,
#output-text {
  font-size: 24px;
  font-family: "PT Sans";
}

.speech-to-text {
  position: absolute;
  left: 5%;
  right: 30.88%;
  top: 87.6%;
  bottom: 6.25%;

  user-select: none;
}

#text-to-speech-left {
  height: 32px;
  width: 32px;
  position: absolute;
  left: 62.54%;
  right: 7.14%;
  top: 87.6%;
  bottom: 12.73%;

  user-select: none;
}

#text-to-speech-right {
  height: 32px;
  width: 32px;
  position: absolute;
  left: 63.2%;
  right: 7.14%;
  top: 87.6%;
  bottom: 12.73%;

  user-select: none;
}

.material-icons.md-36 {
  font-size: 36px;
  color: #65daff;
  position: absolute;
  top: 87.6%;
  left: 11.67%;
  /* cursor: pointer; */

  user-select: none;
}

/* word-count the maximum words */
#word-count {
  color: #999999;

  position: absolute;
  width: 69px;
  height: 21px;
  left: 600px;
  top: 362px;
  text-align: right;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  user-select: none;
}

/* dropdown and hover */

button.language {
  position: absolute;
  width: 181px;
  height: 40px;
  left: 470px;
  top: 16px;

  background: #ffffff;
  border: 2px solid #65daff;
  box-shadow: 0px 2px 4px #cef3ff;
  border-radius: 10px;
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 18px;

  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;

  top: 56px;
  left: 470px;

  color: black;
  font-weight: bold;

  cursor: pointer;
  display: none;
  border-top: 0px solid lightblue;
  z-index: 1;
  display: none;
}

.dropdown-content div {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#chi,
#eng,
#fre,
#ger,
#ita,
#mal,
#spa {
  border: none;
  border-radius: 0px;
  background-color: #fcfcfc;
  width: 181px;
  height: 40px;
  font-family: "PT Sans";
  font-size: 18px;
  text-align: center;
  /* border: 2px solid #65daff; */
  line-height: 40px;
}

.option:hover {
  background-color: lightblue;
}

/* upload file */
#file-input {
  position: relative;
  /* height: 655px;
  width: 400px; */
  font-size: 10px;

  display: none;
  visibility: invinsible;
}

#alert {
  /* background-color: yellow; */
  /* padding: 20px; */
  display: none;
  position: relative;
  left: 120px;
  top: 45px;
  color: #999999;
  font-family: "Roboto";
}

#alert-icon:hover + #alert {
  display: block;
}
